body{
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 66px;
    line-height: 1;
    margin: 0;
    padding: 0;
    
}


#textContainer {
    position: relative;
}

#loremText span {
    filter: blur(10px);
    transition: filter 0.5s ease-in-out;
    display: inline-block;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><ellipse cx="25" cy="25" rx="25" ry="25" fill="rgba(255, 255, 255, 0.5)" mix-blend-mode="difference"/></svg>'), auto;
}

#loremText span:hover {
    filter: blur(0);
    cursor: pointer;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><ellipse cx="25" cy="25" rx="25" ry="25" fill="rgba(255, 255, 255, 0.5)" mix-blend-mode="difference"/></svg>'), auto;
}

